{
  "plugins": ["@prettier/plugin-php", "prettier-plugin-svelte"],
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "printWidth": 100,
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
